<div class="home">
  <h1> Welcome to your Jira Space</h1>
  <p>You've come to the right place to organize your busy days by planning your to-do items!
    Create lists, assign tasks to them, indicate their priority, due date, and when they're completed.</p>

  <img src="/homePage.jpg" alt="Todos post-its" class="homeImg"/>

  <p>So you can clear your mind of all that polluting mental load so you can think about much more interesting and
    productive things.</p>
  <p><strong>Ready to get started? Let's go, and enjoy!</strong></p>
</div>
